<div class="card text-white bg-secondary">
  <img class="card-img-top" src="holder.js/100px180/" alt="" />
  <div class="card-body">
    <h4 class="card-title">Child Component</h4>
    <p class="card-text">
      IsMarried :{{ isMarried ? "Đã kết hôn" : "Chưa kết hôn" }}
    </p>
    <p class="card-text">AGE :{{ age }}</p>
    <p class="card-text">Name :{{ name }}</p>

    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" [(ngModel)]="txtFullName" />
      <input type="text" class="form-control" [(ngModel)]="txtPhone" />
      <button type="button" class="btn btn-primary" (click)="onSubmitForm()">
        SEND
      </button>
    </div>
  </div>
</div>
