<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên Pipe</th>
      <th>Dữ liệu đầu vào</th>
      <th>Kết quả hiển thị</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>UpperCase</td>
      <td>{{ content }}</td>
      <td>{{ content | uppercase }}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>LowerCase</td>
      <td>{{ content }}</td>
      <td>{{ content | lowercase }}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>TitleCase</td>
      <td>{{ content }}</td>
      <td>{{ content | titlecase }}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Slice</td>
      <td>{{ title }}</td>
      <td>{{ title | slice: 4:11 }}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Decimal (number)</td>
      <td>{{ amount }}</td>
      <td>{{ amount | number: "1.0-3" }}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Percent</td>
      <td>{{ percent }}</td>
      <td>{{ percent | percent }}</td>
    </tr>
  </tbody>
</table>
