<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên Pipe</th>
      <th>Dữ liệu đầu vào</th>
      <th>Kết quả hiển thị</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>UpperCase</td>
      <td>{{ content }}</td>
      <td>{{ content | uppercase }}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>LowerCase</td>
      <td>{{ content }}</td>
      <td>{{ content | lowercase }}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>TitleCase</td>
      <td>{{ content }}</td>
      <td>{{ content | titlecase }}</td>
    </tr>
  </tbody>
</table>
